<div class="card-header flex flex-col gap-4">
  <div class="flex items-center justify-between w-full md:px-4">
    <div class="flex items-center gap-4 md:gap-7">
      <div
        class="tasks-tap-item"
        [class.text-primary!]="activeTab() === 'my-tasks'"
        (click)="setTab('my-tasks')"
      >
        <svg-icon key="document-justify-center" [size]="btnSize()"/>
        <span class="card-title font-medium md:text-xl">Мои задачи</span>
      </div>
      <div
        class="tasks-tap-item"
        [class.text-primary!]="activeTab() === 'archive'"
        (click)="setTab('archive')"
      >
        <svg-icon key="document-justify-center" [size]="btnSize()"/>
        <span class="text-base md:text-xl font-normal">Архив задач</span>
      </div>
    </div>

    <div class="flex items-center gap-2 md:gap-4">
      <p class="text-right text-sm text-secondary hidden md:block">
        Последнее обновление<br/>{{ lastUpdated() }}
      </p>
      <button
        type="button"
        class="flex items-center justify-center min-w-8 h-8 md:h-12 gap-3 rounded-xl bg-(--color-accent) md:px-4 text-white transition-opacity hover:opacity-90"
        (click)="refresh()"
      >
        <svg-icon key="refresh" [size]="btnSize()"/>
        <span class="hidden md:block">Обновить задачи</span>
      </button>
      @if (openFilter()) {
        <div class="hidden md:block h-10 w-px shrink-0 bg-[#7D7D85]" aria-hidden="true"></div>

        <button
          type="button"
          class="flex w-8 h-8 md:h-12 md:w-12 shrink-0 items-center justify-center cursor-pointer rounded-xl border border-simple-border dark:bg-[#20242C] text-primary transition-colors hover:bg-[#2A2C30]"
          aria-label="Filter"
          [tuiDropdown]="projectsContent"
          [tuiDropdownManual]="open()"
          [tuiObscuredEnabled]="open()"
          (click)="onClick()"
          (tuiActiveZoneChange)="onActiveZone($event)"
          (tuiObscured)="onObscured($event)"
          [tuiDropdownMaxHeight]="600"
        >
          <svg-icon key="filter" [size]="btnSize()" />
        </button>
      }
    </div>
  </div>

  <div class="flex md:hidden w-full justify-between text-secondary">
    <span>
      Последнее обновление
    </span>
    <span>{{ lastUpdated() }}</span>
  </div>

</div>

<div class="flex min-h-0 w-full h-full">
  <custom-scrollbar class="w-full h-full flex">
    <div class="flex flex-col gap-4 px-4 py-4">
      @for (task of tasks(); track task.id) {
        <article
          class="flex items-stretch gap-3 rounded-xl cursor-pointer hover:shadow-md duration-200 border border-[#F0F2F4] dark:border-[#30343C] bg-white dark:bg-[#20242C]! p-3 md:p-5"
          tuiDropdownContext
          [tuiDropdown]="content"
          [routerLink]="['/my-tasks', $index]"
        >
          <div
            class="hidden md:flex shrink-0 size-7 items-center justify-center rounded-full border text-[#009AFF40]"
            [class.border-[#009AFF40]]="!task.completed"
            [class.bg-[#009AFF]]="task.completed"
            [class.text-white]="task.completed"
            [class.border-none]="task.completed"
          >
            <svg-icon key="task-check"/>
          </div>
          <div class="flex flex-1 min-w-0 justify-between gap-4">
            <div class="flex flex-col w-full gap-4 min-w-0">
              <div class="flex justify-between w-full">
                <div class="flex gap-2">
                  <div
                    class="flex md:hidden shrink-0 size-7 items-center justify-center rounded-full border text-[#009AFF40]"
                    [class.border-[#009AFF40]]="!task.completed"
                    [class.bg-[#009AFF]]="task.completed"
                    [class.text-white]="task.completed"
                    [class.border-none]="task.completed"
                  >
                    <svg-icon key="task-check"/>
                  </div>

                  <p class="text-sm md:text-xl leading-snug text-primary">
                    {{ task.title }}
                  </p>
                </div>


                <span
                  class="size-8"
                  [class.text-[#F0F2F4]]="task.starred"
                  [class.text-(--color-accent)]="!task.starred"
                  aria-hidden="true"
                >
                  <svg class="size-8" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true">
                    <path d="M16 4l4 8 8 1-6 6 2 9-8-4-8 4 2-9-6-6 8-1 4-8z"/>
                  </svg>
                </span>
              </div>

              <div class="flex justify-between items-end">
                <div class="flex flex-col md:flex-row flex-wrap md:items-center gap-1 md:gap-4 text-base text-[#7D7D85] dark:text-[#DDDDDD]">
                  <span>{{ task.projectName }}</span>

                  <span class="text-sm text-secondary md:hidden">
                    Последнее изменение: {{ task.lastModified }}
                  </span>
                  @if (task.dueDate) {
                    <span class="flex items-center gap-2">
                      <svg class="size-5 shrink-0" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2"
                           aria-hidden="true">
                        <rect x="2" y="3" width="16" height="15" rx="2"/>
                        <path d="M2 8h16M7 2v4M13 2v4"/>
                      </svg>
                      {{ task.dueDate }}
                  </span>
                  }
                </div>
                <span class="text-sm text-secondary hidden md:block">
                  Последнее изменение: {{ task.lastModified }}
                </span>
              </div>
            </div>
          </div>
        </article>
      }
    </div>
  </custom-scrollbar>
</div>

<ng-template #content>
  <tui-data-list tuiDataListDropdownManager>
    <tui-opt-group>
      <button tuiOption class="justify-start!">
        <svg-icon key="calendar" class="mr-2"/>
        Со сроком сегодня
      </button>
      <button tuiOption class="justify-start!">
        <svg-icon key="calendar" class="mr-2"/>
        Со сроком завтра
      </button>
      <button tuiOption>
        <svg-icon key="calendar" class="mr-2"/>
        На следующей неделе
      </button>
      <button
        iconEnd="@tui.chevron-right"
        tuiDropdownAlign="right"
        tuiDropdownLimitWidth="auto"
        tuiDropdownManual
        tuiDropdownSided
        tuiOption
        type="button"
        [tuiDropdown]="calendar"
        [tuiDropdownOffset]="10"
      >
        <svg-icon key="calendar" class="mr-2"/>
        Выбрать дату
      </button>
    </tui-opt-group>

    <tui-opt-group>
      <button
        tuiOption
        iconEnd="@tui.chevron-right"
        tuiDropdownAlign="right"
        tuiDropdownLimitWidth="auto"
        tuiDropdownManual
        tuiDropdownSided
        type="button"
        [tuiDropdown]="transferTask"
        [tuiDropdownOffset]="10"
        class="justify-start!"
      >
        <svg-icon key="profile" class="mr-2"/>
        Передать задачу
      </button>
    </tui-opt-group>

    <tui-opt-group>
      <button tuiOption class="justify-start! text-error!">
        <svg-icon key="delete" class="mr-2"/>
        Удалить задачу
      </button>
    </tui-opt-group>

  </tui-data-list>

  <ng-template #calendar>
    <tui-calendar
      [value]="dateValue"
      (dayClick)="onDayClick($event)"
      (mousedown.zoneless.prevent)="0"
    />
    <div class="flex w-full items-center gap-2 px-2 py-2">
      <button class="c-btn w-1/2">Отмена</button>
      <button class="c-btn-primary w-1/2">Сохранить</button>
    </div>
  </ng-template>

  <ng-template #transferTask>
    <div class="flex flex-col gap-2 p-2">
      <span class="text-secondary">Выберите исполнителя</span>
      <div class="flex flex-col gap-2 max-h-800 overflow-y-auto">
        @for (_ of [0, 1, 2, 3, 4, 5]; track $index) {
          <div
            class="flex gap-1 items-center py-1 px-2 rounded-lg cursor-pointer"
            [class.dark:bg-[#1A1A1A]!]="$first"
            [class.bg-[#1A1A1A1A]]="$first"
          >
            <svg-icon
              key="position"
              size="lg"
              class="text-[#EAEAEA] dark:text-[#7D7D85]"
              [class.text-[#009AFF]!]="$first"
            />
            <div class="text-primary dark:text-[#DDDDDD]">
              Лазиз
              <span class="dark:text-[#7D7D85]">{{ '@chatbotzero' }}</span>
            </div>
          </div>
        }
      </div>
    </div>
  </ng-template>

</ng-template>

<ng-template #projectsContent>
  <div class="flex flex-col gap-4 p-3 w-50">
    <span class="text-secondary">Выберите проект:</span>

    <div class="flex flex-col gap-3">
      @for (_ of [0, 1, 2, 3, 4, 5, 6]; track $index) {
        <div class="flex gap-2 items-center">
          <input
            tuiCheckbox
            type="checkbox"
            [ngModel]="false"
            size="s"
            [id]="'project-'+$index"
          />
          <label class="text-primary" [for]="'project-'+$index">Проект №{{ $index + 1 }}</label>
        </div>
      }
    </div>
  </div>
</ng-template>
