<div class="flex flex-col gap-2">
  <span class="text-xl text-primary">Смена ответственного </span>

  <div class="flex flex-col gap-2">
    <span class="text-secondary">Текущий ответственный</span>
    <div class="flex gap-2 p-2 rounded-md items-center">
      <svg-icon key="position" size="md" />
      <span class="text-[#DDD]">Виктор</span>
      <span class="text-secondary">Backend-разработчик</span>
    </div>
    <div class="flex gap-2 p-2 rounded-md items-center">
      <svg-icon key="position" size="md" />
      <span class="text-[#DDD]">Кристина</span>
      <span class="text-secondary">Backend-разработчик</span>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <span class="text-secondary">Выберите нового ответственного</span>
    <div class="flex gap-2 p-2 rounded-md items-center bg-[#FFFFFF05]">
      <svg-icon key="position" size="md" class="text-accent" />
      <span class="text-[#DDD]">Кристина</span>
      <span class="text-secondary">Дизайнер</span>
    </div>
    <div class="flex gap-2 p-2 rounded-md items-center">
      <svg-icon key="position" size="md" />
      <span class="text-[#DDD]">Виктор</span>
      <span class="text-secondary">Проект-менеджер</span>
    </div>
  </div>

  <button class="c-btn-primary w-full h-10!">Сменить ответственного</button>
</div>
