<div class="wrapper">
  <div class="content" #content (scroll)="onScroll()">
    <ng-content></ng-content>
  </div>

  <div
    class="scrollbar py-4 hidden md:flex"
    [class.hidden!]="thumbHeight() === 100"
  >
    <button class="arrow" (click)="scrollUp()">
      <svg-icon key="scrollbar-up" size="md" />
    </button>

    <div class="track">
      <div
        class="thumb"
        [style.height.%]="thumbHeight()"
        [style.top.%]="thumbTop()"
        (mousedown)="startDrag($event)"
      ></div>
    </div>

    <button class="arrow" (click)="scrollDown()">
      <svg-icon key="scrollbar-up" class="rotate-180" size="md" />
    </button>
  </div>
</div>
