/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "./styles/card.css";
@import "./styles/theme.css";
@import "./styles/button.css";

/* ========== Fonts ========== */
@font-face {
  font-family: 'Porkys';
  src: url('/fonts/PORKYS_.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background-color: var(--color-background);
  display: flex;
}
